.middleContent {
    min-height: calc(100vh - 161px);
    min-height: calc(100dvh - 161px);
}

.resumoBlock {
    border-radius: 21px;
    border: 1px solid var(--secondary-background-color-500);
    background: var(--secondary-background-color-500);
    backdrop-filter: blur(5px);
    padding-inline: 30px;
    padding-block: 30px;

    p {
        color: var(--primary-text-color-500);
        font-family: var(--font-poppins, sans-serif);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 12px;
    }

    .totalTickets {
        display: flex;
        flex-direction: column;
        gap: 4px;

        text {
            color: var(--primary-text-color-500);
            font-family: var(--font-poppins, sans-serif);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0px;
            padding: 0px;
        }
    }
}

.accordionPayment {
    h2 {
        text-align: center;
        color: var(--simple-text-color);
        font-family: var(--font-poppins, sans-serif);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-inline: auto;
        margin-bottom: 36px;
    }
}

.rowAccordionPayment {
    display: flex;
    justify-content: space-between;

    span {
        color: var(--primary-text-color-400);
        font-family: var(--font-poppins, sans-serif);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    p {
        color: var(--primary-text-color-500);
        text-align: right;
        font-family: var(--font-poppins, sans-serif);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 11px;
    }
}

.totalRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;

    p {
        margin: 0px;
        color: var(--primary-text-color-500);
        font-family: var(--font-poppins, sans-serif);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.checkedApproved img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 10px rgba(190, 226, 212, 0.49);
    width: 100px;
    height: 100px;
    animation: pulse 2s infinite ease-in-out;
}
