.container {
    height: 100vh;
    padding-top: 8%;
    background: var(--primary-background-color-500);

    @media only screen and (max-width: 768px) {
        padding-top: 30%;
    }
}

.content {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 190px;

    @media only screen and (max-width: 768px) {
        padding-inline: 20px;
        flex-direction: column;
    }
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 42px;
    h1 {
        font-size: 4.375rem;
        font-style: normal;
        font-weight: 700;

        @media only screen and (max-width: 768px) {
            font-size: 1.875rem;
        }
    }

    button {
        width: 368px;
        text-transform: capitalize;

        @media only screen and (max-width: 768px) {
            width: 228px;
            padding-inline: 15px;
        }
    }
}

.rightSideDesktop {
    display: none;
    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.rightSideMobile {
    @media only screen and (min-width: 768px) {
        display: none;
    }
}
