.container {
    background-color: #fff;
    height: 100%;
}

.qr {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 9999; /* Certifique-se de que o z-index seja maior do que os outros elementos, se houver */
}

.headContent {
    display: flex;
    flex-direction: column;

    box-shadow: 0 5px #000;
    border-bottom: 1px solid #e0e0e0;
}

.banner {
    width: 100vw;
    height: auto;
}

.Title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.Date {
    font-size: 24px;
    font-weight: 600;
    color: #4c576c;
}

.Local {
    font-size: 14px;
    font-weight: 600;
    color: #bababc;

    margin-top: 0.7rem;
}

.TitleActive {
    font-size: 12px;
    font-weight: 600;
    color: #000;

    box-shadow: inset 0 -3px 0 0px #8000ff;
    padding-bottom: 1.5rem;

    width: 100%;

    text-align: center;
}

.TitleResume {
    font-size: 12px;
    font-weight: 600;
    color: #000;

    width: 100%;
}

.TitleResumeV {
    font-size: 12px;
    font-weight: 600;
    color: #000;

    width: 100%;

    border-bottom: 15px solid #fff;
    padding-bottom: 0.5rem;

    margin-bottom: 1rem;
}

.TitleResumeT {
    font-size: 12px;
    font-weight: 600;
    color: #000;

    width: 100%;

    border-bottom: 15px solid #8586bf;
    padding-bottom: 0.5rem;

    margin-bottom: 1rem;
}

.viewResume {
    font-size: 12px;
    font-weight: 600;
    color: #8000ff;

    width: 100%;

    text-align: center;
}

.TitleInactive {
    font-size: 12px;
    font-weight: 600;
    color: #b8b8b8;
    padding-bottom: 1.5rem;
    width: 100%;

    text-align: center;
}

.topHead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-bottom: 1.5rem;

    margin-top: 1.5rem;
}

.bottomHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

    text-align: center;
}

.bodyContent {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 2rem;

    background-color: #fff;

    flex-grow: 1;
    min-height: 87vh;

    gap: 1.5rem;
}

.bodyTitle {
    font-size: 16px;
    color: #b5b5b5;
    font-weight: 600;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.downEvent {
    padding: 1rem;
    background-color: #eaeaec;

    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.titleEvent {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.descEvent {
    color: #6d6d6d;
    font-size: 12px;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    margin-top: 0.5rem;
}

.button {
    color: #8000ff;
    font-size: 14px;
    font-weight: 600;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.graphContent {
    display: flex;
    flex-direction: column;
    padding: 3rem 2.5rem;
    align-items: center;
    border-radius: 16rem;

    border: 10px solid #eaeaec;

    margin-top: 1.5rem;
}

.titleGraph {
    font-size: 40px;
}

.descGraph {
    font-size: 12px;
    color: #b8b8b8;
    font-weight: 600;
}

.descTable {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
}

.percentGraph {
    font-size: 12px;
    color: #46b5a4;
    font-weight: 600;
}

.headTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 4.5rem;

    margin-top: 2rem;

    border-bottom: 1px solid #000;

    padding-bottom: 0.7rem;
}

.bodyTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 4.5rem;

    margin-top: 1rem;

    padding-bottom: 0.7rem;
}

.rightTable {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.rightBTable {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    padding-right: 1rem;
}

.listButton {
    color: #fff;
    background-color: #8000ff;
    border-radius: 10px;
    padding: 0.7rem 0rem;

    width: 80%;
}

.resumeData {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    width: 90%;
    background-color: #eaeaec;
}

.resumeTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}
